$green: #1ecd97;
$gray: #bbbbbb;

.primary-btn {
  position: relative;
  min-height: 2rem;
  display: flex;
  margin: 1rem 0rem;
  align-items: center;
  padding: 0.3rem 1rem;
  outline: none;
  border-radius: 40px;
  background: #fff;
  border: 2px solid $green;
  color: $green;
  text-shadow: 0;
  cursor: pointer;
  transition: all 0.25s ease;

  font: {
    size: 1rem;
    weight: bold;
  }

  &:hover {
    color: white;
    background: $green;
  }

  fa-icon,
  .btn-loader {
    font-size: 1.1rem;
    margin-right: 0.5rem;
  }
}
