@import "../../../../styles/main.scss";

.section-title {
  color: $red;
}

.recipe-list {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.recipe-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1rem;
  max-width: 300px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(255, 87, 87);
  -moz-box-shadow: 0px 0px 5px 0px rgb(255, 87, 87);
  box-shadow: 0px 0px 5px 0px rgb(255, 87, 87);

  .recipe-image {
    margin-bottom: 0.5rem;
  }

  .recipe-name {
    font-weight: 400;
    padding: 0rem 1rem;
  }

  .recipe-bottom {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0rem;

    .num {
      color: $red;
      font-weight: bold;
      font-size: 15px;
    }

    .txt {
      color: $gray;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;
      margin-left: 0.2rem;
    }
  }
}
