// User section
$green: #1ecd97;
$gray: #bbbbbb;
$lightpink: #ffb6c1;
$lightblue: #add8e6;
$darkgreen: #20b2aa;
$white: #ffffff;

// Weather section
$blue: #1e8dcd;

// Recipe section
$red: #ff5757;
$lightgray: #f0f0f0;
