@import "../../../../styles/main.scss";

.section-title {
  color: $green;
}

.users-list {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    // background-image: url("../../../../assets/images/users/users-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
